body{
    margin:0;
    padding:0;
}

header{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}


/* WORK SECTION */
.my-work{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.my-work h2 {
    flex: 0 0 20%;
}

.projects{
    flex: 0 0 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    border: 2px solid black;
    min-height: 200px;
    max-height: 200px;
    background-size: cover;
    flex-basis: calc(50% - 30px);
    margin: 10px;
   
}

.project1{
    background-image: url('https://www.science.org/do/10.1126/science.abi5787/abs/main_puppies_1280p.jpg');
    min-height: 400px;
    flex-basis: 100%;
}

.project2{
    background-image: url('https://www.science.org/do/10.1126/science.abi5787/abs/main_puppies_1280p.jpg');
}
.project3{
    background-image: url('https://www.science.org/do/10.1126/science.abi5787/abs/main_puppies_1280p.jpg');
}







@media all  and (max-width:768px){
    header, nav a{
        /* background-color: aqua; */
        display: flex;
        /* align-items: center;
        justify-content: space-between;
        padding: 0 10px 0 10px; */
        flex-direction: column;
    }
}